<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M1950.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PGFP6_9012.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <M1950.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="pathLogfile" serializeAs="String">
                <value />
            </setting>
            <setting name="En_QRcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Download" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Checksum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Ers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Buzz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Blank" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_CONT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Verify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="user1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="pass1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="user2" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="pass2" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="user3" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="pass3" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="user4" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="pass4" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="user5" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="pass5" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="PR1" serializeAs="String">
                <value>3549-9012</value>
            </setting>
            <setting name="PR2" serializeAs="String">
                <value />
            </setting>
            <setting name="PR3" serializeAs="String">
                <value />
            </setting>
            <setting name="PR4" serializeAs="String">
                <value />
            </setting>
            <setting name="PR5" serializeAs="String">
                <value />
            </setting>
            <setting name="PR6" serializeAs="String">
                <value />
            </setting>
            <setting name="PR7" serializeAs="String">
                <value />
            </setting>
            <setting name="PR8" serializeAs="String">
                <value />
            </setting>
            <setting name="PR9" serializeAs="String">
                <value />
            </setting>
            <setting name="PR10" serializeAs="String">
                <value />
            </setting>
            <setting name="IC1" serializeAs="String">
                <value>R5F10968KSP</value>
            </setting>
            <setting name="IC2" serializeAs="String">
                <value />
            </setting>
            <setting name="IC3" serializeAs="String">
                <value />
            </setting>
            <setting name="IC4" serializeAs="String">
                <value />
            </setting>
            <setting name="IC5" serializeAs="String">
                <value />
            </setting>
            <setting name="IC6" serializeAs="String">
                <value />
            </setting>
            <setting name="IC7" serializeAs="String">
                <value />
            </setting>
            <setting name="IC8" serializeAs="String">
                <value />
            </setting>
            <setting name="IC9" serializeAs="String">
                <value />
            </setting>
            <setting name="IC10" serializeAs="String">
                <value />
            </setting>
            <setting name="CK1" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="CK2" serializeAs="String">
                <value />
            </setting>
            <setting name="CK3" serializeAs="String">
                <value />
            </setting>
            <setting name="CK4" serializeAs="String">
                <value />
            </setting>
            <setting name="CK5" serializeAs="String">
                <value />
            </setting>
            <setting name="CK6" serializeAs="String">
                <value />
            </setting>
            <setting name="CK7" serializeAs="String">
                <value />
            </setting>
            <setting name="CK8" serializeAs="String">
                <value />
            </setting>
            <setting name="CK9" serializeAs="String">
                <value />
            </setting>
            <setting name="CK10" serializeAs="String">
                <value />
            </setting>
            <setting name="SK1" serializeAs="String">
                <value>MR10968ESTG1H-OT</value>
            </setting>
            <setting name="SK2" serializeAs="String">
                <value />
            </setting>
            <setting name="SK3" serializeAs="String">
                <value />
            </setting>
            <setting name="SK4" serializeAs="String">
                <value />
            </setting>
            <setting name="SK5" serializeAs="String">
                <value />
            </setting>
            <setting name="SK6" serializeAs="String">
                <value />
            </setting>
            <setting name="SK7" serializeAs="String">
                <value />
            </setting>
            <setting name="SK8" serializeAs="String">
                <value />
            </setting>
            <setting name="SK9" serializeAs="String">
                <value />
            </setting>
            <setting name="SK10" serializeAs="String">
                <value />
            </setting>
            <setting name="CP1" serializeAs="String">
                <value>256K</value>
            </setting>
            <setting name="CP2" serializeAs="String">
                <value />
            </setting>
            <setting name="CP3" serializeAs="String">
                <value />
            </setting>
            <setting name="CP4" serializeAs="String">
                <value />
            </setting>
            <setting name="CP5" serializeAs="String">
                <value />
            </setting>
            <setting name="CP6" serializeAs="String">
                <value />
            </setting>
            <setting name="CP7" serializeAs="String">
                <value />
            </setting>
            <setting name="CP8" serializeAs="String">
                <value />
            </setting>
            <setting name="CP9" serializeAs="String">
                <value />
            </setting>
            <setting name="CP10" serializeAs="String">
                <value />
            </setting>
            <setting name="MK1" serializeAs="String">
                <value>TRANG</value>
            </setting>
            <setting name="MK2" serializeAs="String">
                <value />
            </setting>
            <setting name="MK3" serializeAs="String">
                <value />
            </setting>
            <setting name="MK4" serializeAs="String">
                <value />
            </setting>
            <setting name="MK5" serializeAs="String">
                <value />
            </setting>
            <setting name="MK6" serializeAs="String">
                <value />
            </setting>
            <setting name="MK7" serializeAs="String">
                <value />
            </setting>
            <setting name="MK8" serializeAs="String">
                <value />
            </setting>
            <setting name="MK9" serializeAs="String">
                <value />
            </setting>
            <setting name="MK10" serializeAs="String">
                <value />
            </setting>
        </M1950.Properties.Settings>
        <PGFP6_9012.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="pathLogfile" serializeAs="String">
                <value />
            </setting>
            <setting name="En_QRcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Download" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Checksum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Ers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="En_Buzz" serializeAs="String">
                <value>False</value>
            </setting>
        </PGFP6_9012.Properties.Settings>
    </userSettings>
</configuration>